.s_top_bg_for {
  width: 100%;
  height: 575px;
  display: flex;
  align-items: center;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.s_top_bg_for::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.cnt_top_form {
  width: 100%;
  max-width: 975px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  column-gap: 124px;
}

.cnt_inf_top_form {
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.h_top_form {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.txt_top_form {
  font-size: 16px;
  color: #fff;
}

.cnt_form_top_minb {
  width: 100%;
  max-width: 374px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 22px 20px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 32px 48px;
}

.form_top {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.form_top .captcha {
  margin: 0;
}

.cnt_campo_form {
  width: 100%;
  position: relative;
}

.cnt_chek_form {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 12px 0;
}
.cnt_chek_form input [type=checkbox] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
}
.cnt_chek_form input [type=checkbox]:checked {
  background: var(--c_pri);
  border-color: #000;
}

.etq_check_form {
  font-size: 14px;
  flex-grow: 1;
  text-align: left;
}
.etq_check_form a {
  text-decoration: underline;
  color: #000;
}

.s_gris_minib_int {
  width: 100%;
  background: #f4f4f4;
  padding: 72px 0;
}

.cnt_gen_vid_inf {
  width: 100%;
  display: flex;
  column-gap: 24px;
}

.col_vid_inf {
  width: 100%;
  position: relative;
}
.col_vid_inf iframe {
  width: 100%;
  height: 100%;
  min-height: 370px;
}

.cnt_inf_porque_minib {
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 72px 64px;
  text-align: left;
}
.cnt_inf_porque_minib .h_lat {
  max-width: inherit;
}

.txt_porque_minib {
  text-align: left;
  font-size: 16px;
  padding: 16px 0 0;
}

.h_lat.h_int {
  font-size: 28px;
}

.bg_none {
  background: transparent;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.s_razones_estrenar {
  background-color: #FFF;
  padding: 40px 0;
  box-sizing: border-box;
}
.s_razones_estrenar .txt_desc {
  max-width: 780px;
  margin: 0 auto 50px;
}
.s_razones_estrenar .title {
  margin-bottom: 40px;
}

.items_razones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 0 0 40px;
}
.items_razones .items_razon {
  text-align: left;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
}
.items_razones .items_razon::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 14px;
  height: 14px;
  background: url("../images/diseno/items.svg") no-repeat center;
  background-size: contain;
}

.frame2pqr {
  position: relative;
}
.frame2pqr .cnt_central {
  z-index: 1;
}

.frame2pqr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  backdrop-filter: grayscale(1);
  z-index: 1;
}

.fix_autoalmacenamiento {
  padding-bottom: 100px;
}
.fix_autoalmacenamiento .cnt_banner_calcula {
  margin-top: 70px;
}/*# sourceMappingURL=autoalmacenamiento.css.map */