.s_top_bg_for {
  width: 100%;
  height: 575px;
  display: flex;
  align-items: center;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.s_top_bg_for .cnt_central {
  height: 100%;
}
.s_top_bg_for::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.cnt_top_form {
  width: 100%;
  max-width: 975px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  column-gap: 124px;
  padding: 30px 0 0;
}

.cnt_inf_top_form {
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.h_top_form {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.txt_top_form {
  font-size: 16px;
  color: #fff;
}

.cnt_form_top_minb {
  width: 100%;
  max-width: 374px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 22px 20px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 32px 48px;
}

.form_top {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.form_top .captcha {
  margin: 0;
}

.cnt_campo_form {
  width: 100%;
  position: relative;
}

.cnt_chek_form {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 12px 0;
}
.cnt_chek_form input [type=checkbox] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
}
.cnt_chek_form input [type=checkbox]:checked {
  background: var(--c_pri);
  border-color: #000;
}

.etq_check_form {
  font-size: 14px;
  flex-grow: 1;
  text-align: left;
}
.etq_check_form a {
  text-decoration: underline;
  color: #000;
}

.s_gris_minib_int {
  width: 100%;
  background: #f4f4f4;
  padding: 72px 0;
}

.cnt_gen_vid_inf {
  width: 100%;
  display: flex;
  column-gap: 24px;
}

.col_vid_inf {
  width: 100%;
  position: relative;
}
.col_vid_inf iframe {
  width: 100%;
  height: 100%;
  min-height: 370px;
}

.cnt_inf_porque_minib {
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 72px 64px;
  text-align: left;
}
.cnt_inf_porque_minib .h_lat {
  max-width: inherit;
}

.txt_porque_minib {
  text-align: left;
  font-size: 16px;
  padding: 16px 0 0;
}

.h_lat.h_int {
  font-size: 28px;
}

.bg_none {
  background: transparent;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.s_razones_estrenar {
  background-color: #FFF;
  padding: 40px 0;
  box-sizing: border-box;
}
.s_razones_estrenar .txt_desc {
  max-width: 780px;
  margin: 0 auto 50px;
}
.s_razones_estrenar .title {
  margin-bottom: 40px;
}

.items_razones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 0 0 40px;
}
.items_razones .items_razon {
  text-align: left;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
}
.items_razones .items_razon::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 14px;
  height: 14px;
  background: url("../images/diseno/items.svg") no-repeat center;
  background-size: contain;
}

.frame2pqr {
  position: relative;
}
.frame2pqr .cnt_central {
  z-index: 1;
}

.frame2pqr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  backdrop-filter: grayscale(1);
  z-index: 1;
}

.fix_autoalmacenamiento {
  padding-bottom: 100px;
}
.fix_autoalmacenamiento .cnt_banner_calcula {
  margin-top: 70px;
}

.s_otros_usos {
  padding: 62px 0 72px;
}
.s_otros_usos .title {
  padding: 0 0 24px;
  margin-bottom: 24px;
}

.c_otros_usos .swiper-button-next, .c_otros_usos .swiper-button-prev {
  top: initial;
  bottom: 20%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #D6D6D6;
  background: transparent;
  text-align: center;
}
.c_otros_usos .swiper-button-next span, .c_otros_usos .swiper-button-prev span {
  color: #D6D6D6;
  line-height: 50px;
  width: 100%;
  text-align: center;
}
.c_otros_usos .swiper-button-prev {
  transform: rotate(180deg);
}

.swiperOtrosUsos {
  max-width: 970px;
  margin: 40px auto 0;
  overflow: hidden;
  height: auto;
}
.swiperOtrosUsos .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: fit-content;
}
.swiperOtrosUsos ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  border-left: 1px solid #d2d2d2;
  padding-left: 40px;
}
.swiperOtrosUsos li {
  position: relative;
  text-align: left;
  padding-left: 24px;
  box-sizing: border-box;
}
.swiperOtrosUsos li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background: url("../images/diseno/items.svg") no-repeat center;
  background-size: contain;
}
.swiperOtrosUsos .cont_tit_usos picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperOtrosUsos .cont_tit_usos img {
  max-width: 50px;
}

.bg_w {
  background-color: #FFF;
}

.cw a, .cw span {
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .cnt_top_form {
    column-gap: 30px;
  }
  .cnt_inf_porque_minib {
    padding: 72px 34px;
  }
}
@media screen and (max-width: 1050px) {
  .swiperOtrosUsos ul {
    grid-template-columns: 1fr;
    padding-left: 20px;
  }
  .swiperOtrosUsos .swiper-slide {
    gap: 20px;
  }
  .cnt_top_form {
    flex-direction: column;
    gap: 30px;
  }
  .cnt_gen_vid_inf {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .swiperOtrosUsos .swiper-slide {
    flex-direction: column;
  }
  .swiperOtrosUsos ul {
    border: 0;
    padding-left: 0;
    gap: 14px;
  }
  .col_vid_inf iframe {
    min-height: 270px;
  }
  .cnt_inf_porque_minib {
    padding: 52px 0px;
  }
  .s_gris_minib_int {
    padding: 163px 0 72px;
  }
}
@media screen and (max-width: 480px) {
  .c_otros_usos .swiper-button-next, .c_otros_usos .swiper-button-prev {
    bottom: initial;
    top: 45%;
  }
  .h_top_form {
    font-size: 30px;
  }
}/*# sourceMappingURL=autoalmacenamiento.css.map */