/* MINIBODEGAS  */
.s_top_bg_for {
  width: 100%;
  height: 575px;
  display: flex;
  align-items: center;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.s_top_bg_for::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.cnt_top_form {
  width: 100%;
  max-width: 975px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  column-gap: 124px;
}

.cnt_inf_top_form {
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.h_top_form {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.txt_top_form {
  font-size: 16px;
  color: #fff;
}

.cnt_form_top_minb {
  width: 100%;
  max-width: 374px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 22px 20px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 32px 48px;
}

.form_top {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.form_top .captcha {
  margin: 0;
}

.cnt_campo_form {
  width: 100%;
  position: relative;
}

.cnt_chek_form {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 12px 0;
}
.cnt_chek_form input [type=checkbox] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
}
.cnt_chek_form input [type=checkbox]:checked {
  background: var(--c_pri);
  border-color: #000;
}

.etq_check_form {
  font-size: 14px;
  flex-grow: 1;
  text-align: left;
}
.etq_check_form a {
  text-decoration: underline;
  color: #000;
}

.s_gris_minib_int {
  width: 100%;
  background: #f4f4f4;
  padding: 72px 0;
}

.cnt_gen_vid_inf {
  width: 100%;
  display: flex;
  column-gap: 24px;
}

.col_vid_inf {
  width: 100%;
  position: relative;
}
.col_vid_inf iframe {
  width: 100%;
  height: 100%;
  min-height: 370px;
}

.cnt_inf_porque_minib {
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 72px 64px;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.cnt_inf_porque_minib .h_lat {
  max-width: inherit;
}

.txt_porque_minib {
  text-align: left;
  font-size: 16px;
  padding: 16px 0 0;
}

.h_lat.h_int {
  font-size: 28px;
}

.cnt_gen_que_almacenar {
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
  padding: 48px 0;
}

.cnt_txt_que_almc {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.txt_1_que_almc {
  width: 100%;
  text-align: left;
  color: #000;
}

.cnt_lis_que_almc {
  width: 100%;
  box-sizing: border-box;
  padding: 32px 56px;
  display: flex;
  column-gap: 4%;
  justify-content: space-between;
  list-style-image: url(../images/diseno/minibidegas/vineta.svg);
  flex-wrap: wrap;
}
.cnt_lis_que_almc li {
  width: 48%;
  text-align: left;
  padding: 16px 0;
  list-style-position: unset;
  box-sizing: border-box;
}

.s_calc_esp_minib {
  width: 100%;
  background: #f4f4f4;
  padding-bottom: 32px;
}

.s_gris_bodegas {
  width: 100%;
  background: #f4f4f4;
  padding: 72px 0 100px;
}

.cnt_gen_slide_bodegas {
  width: 100%;
  padding-top: 64px;
}

.cnt_gen_dimen_slide_bodegas {
  width: 100%;
  display: flex;
  align-items: center;
}

.etq_dimen_bodegas {
  font-size: 20px;
  color: #000;
  padding-right: 40px;
}

.slide_mtr_bodegas {
  flex-grow: 1;
}
.slide_mtr_bodegas .swiper-slide {
  height: auto;
  width: 80px;
}
.slide_mtr_bodegas .swiper-slide.swiper-slide-thumb-active .mtr_bodega {
  background: #fff;
}

.mtr_bodega {
  font-size: 20px;
  color: #666;
  padding: 8px 16px;
  text-align: center;
  max-width: 80px;
  cursor: pointer;
}
.mtr_bodega:hover {
  background: #fff;
}

.cnt_bl_slide_bodega {
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.slide_bodega {
  width: 100%;
  box-sizing: border-box;
  padding: 0 8%;
  position: relative;
}
.slide_bodega .swiper-slide {
  height: auto;
}
.slide_bodega .swiper-button-prev {
  transform: rotate(180deg);
  left: 4%;
}
.slide_bodega .swiper-button-next {
  right: 4%;
}
.slide_bodega .swiper-button-prev, .slide_bodega .swiper-button-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #D6D6D6;
  background: transparent;
  text-align: center;
}
.slide_bodega .swiper-button-prev span, .slide_bodega .swiper-button-next span {
  color: #D6D6D6;
  line-height: 40px;
  width: 100%;
  text-align: center;
}
.slide_bodega .swiper-button-prev:hover,
.slide_bodega .swiper-button-next:hover {
  background: #f4f4f4;
}

.cnt_gen_inf_bodega {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.col_img_bodega {
  width: 77%;
  max-width: 650px;
  border-right: 1px solid #ccc;
  position: relative;
}

.col_inf_bodega {
  width: 26%;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 110px 0 80px;
  padding-left: 5%;
}

.pie_img_bodega {
  width: 100%;
  position: absolute;
  bottom: 8px;
  left: 0;
  font-size: 14px;
  color: #666;
}

.h_bodega_sl {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  padding-bottom: 36px;
  position: relative;
}
.h_bodega_sl:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 76px;
  height: 4px;
  background: var(--c_pri);
}

.mts_bodega_sl {
  width: 100%;
  font-size: 30px;
  color: #666;
}

.s_n_clien {
  width: 100%;
  padding: 40px 0;
  background: #fff;
}

.cnt_gal_n_clien {
  width: 100%;
}
.cnt_gal_n_clien .swiper-container {
  padding: 64px 0;
}
.cnt_gal_n_clien .swiper-slide-active {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1.2) !important;
}
.cnt_gal_n_clien .swiper-button-prev {
  transform: rotate(180deg);
  left: 0;
}
.cnt_gal_n_clien .swiper-button-next {
  right: 0;
}
.cnt_gal_n_clien .swiper-button-prev, .cnt_gal_n_clien .swiper-button-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #D6D6D6;
  background: transparent;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  margin-top: 32px;
}
.cnt_gal_n_clien .swiper-button-prev span, .cnt_gal_n_clien .swiper-button-next span {
  color: #D6D6D6;
  line-height: 40px;
  width: 100%;
  text-align: center;
}
.cnt_gal_n_clien .swiper-button-prev:hover,
.cnt_gal_n_clien .swiper-button-next:hover {
  background: #fafafa;
}

@media screen and (max-width: 1050px) {
  .col_vid_inf iframe {
    min-height: 200px;
  }
  .cnt_inf_porque_minib {
    padding: 32px;
  }
  .cnt_inf_porque_minib .h_lat {
    font-size: 24px;
    padding-top: 0;
  }
  .cnt_gen_que_almacenar {
    padding-bottom: 0;
  }
  .s_gris_bodegas {
    padding: 24px 0 64px;
  }
  .cnt_gen_slide_bodegas {
    padding-top: 0;
  }
  .cnt_lis_que_almc {
    padding-left: 32px;
    padding-right: 32px;
  }
  .slide_bodega {
    padding: 0;
  }
  .slide_bodega .swiper-button-prev {
    transform: rotate(180deg);
    left: 1%;
  }
  .slide_bodega .swiper-button-next {
    right: 1%;
  }
  .col_img_bodega {
    width: 60%;
  }
  .col_inf_bodega {
    width: 40%;
    box-sizing: border-box;
    padding: 32px 6%;
  }
  .col_inf_bodega .btn {
    min-width: inherit;
    padding-left: 16px;
    padding-right: 16px;
  }
  .pie_img_bodega {
    box-sizing: border-box;
    padding: 0 24px;
  }
  .h_bodega_sl {
    font-size: 24px;
  }
  .slide_mtr_bodegas {
    width: 60%;
  }
  .cnt_gen_vid_inf {
    flex-flow: column;
  }
}
@media screen and (max-width: 768px) {
  .s_top_bg_for {
    height: auto;
    padding-top: 56px;
  }
  .cnt_top_form {
    flex-flow: column;
    gap: 24px;
  }
  .h_top_form {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .col_vid_inf iframe {
    min-height: 230px;
    height: 48vw;
  }
  .cnt_inf_porque_minib .h_lat {
    font-size: 20px;
  }
  .cnt_gen_que_almacenar, .cnt_lis_que_almc {
    flex-flow: column;
  }
  .cnt_lis_que_almc {
    box-sizing: border-box;
    padding: 24px 0 0 24px;
  }
  .cnt_lis_que_almc li {
    width: 100%;
    padding: 12px 0;
  }
  .cnt_gen_inf_bodega {
    flex-flow: column;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
  }
  .col_img_bodega {
    width: 100%;
    border: none;
  }
  .col_inf_bodega {
    box-sizing: border-box;
    width: 100%;
    gap: 24px;
  }
  .h_bodega_sl {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .cnt_gen_dimen_slide_bodegas {
    flex-flow: column;
  }
  .etq_dimen_bodegas {
    width: 100%;
    padding: 0;
  }
  .slide_mtr_bodegas {
    width: 100%;
  }
  .mtr_bodega {
    font-size: 16px;
  }
  .cnt_gal_n_clien .swiper-container {
    padding-top: 0;
  }
  .cnt_gal_n_clien .swiper-slide-active {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
  }
}/*# sourceMappingURL=minibodegas.css.map */