.c_capacidad_bodega{

    .desc{
        max-width: 770px;
        width: 100%;
        margin: 0 auto;
    }
}

.tabs_bodegas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cnt_tabs_bodegas{
    padding: 40px 0;
    box-sizing: border-box;
}
.btn_tab{
    padding: 8px 24px;
    font-weight: 600;
    color: #808080;
    box-sizing: border-box;
    background: transparent;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-radius: 8px 8px 0 0;
    margin: 0 0 40px;
    cursor: pointer;
    transition: 300ms ease-out;
    &:hover{
        background: #d2d2d2;
    }
    &.active{
        background-color: #000;
        color:#FFF;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
}
.s_container_tabs{
    display: none;
    background: #FFF;
    &.active{
        display: flex;
    }
}